.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #ffffff25;
    -webkit-user-select: none;
    user-select: none;
}

.hiddenSpan {
    width: 64px;
    height: auto;
}

.logo {
    color: inherit;
    cursor: pointer;
    font-size: 24pt;
    font-family: 'Megrim', cursive;
    font-weight: 700;
}

.logo:hover {
    text-shadow: 0px 0px 4px #40ffcc;
}

.cartContainer {
    color: inherit;
    cursor: pointer;
    border: none;
    font-size: 14pt;
    align-items: center;
    background-color: transparent;
    width: 64px;
    height: 32px;
}

.cartContainer:hover {
    text-shadow: 0px 0px 4px #40ffcc;
}

.cartQty {
    font-size: 12pt;
    font-family: 'Cormorant', serif;
}