.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 14px;
    background-color: #336655;
    text-shadow: 0px 0px 4px #40ffcc;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.whiteSpace {
    width: auto;
    height: 180px;
}

.heading {
    margin: auto;
    font-size: 48pt;
    font-weight: 400;
    font-family: 'Uncial Antiqua', cursive;
}

.subHeading {
    margin: auto;
    font-size: 24pt;
    font-weight: 100;
    font-family: 'Sprat';
}