.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 64px 14px;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;
}

.imageLargeContainer {
    cursor: default;
}

.imageLarge {
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.imageSmallContainer {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.imageSmall {
    cursor: pointer;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.imageSmall:hover {
    box-shadow: 0px 0px 4px #40ffcc;
}

.detailsContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.desc {
    margin: 0;
}

.detailsName {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 32pt;
    font-weight: 100;
    font-family: 'Sprat';
}

.title {
    margin: 0;
    font-size: 14pt;
    font-weight: 400;
}

.detailsDetails {
    margin: 0;
    font-size: 18pt;
    font-weight: 400;
}

.detailsPrice {
    margin: 4px 0;
    font-size: 24pt;
    font-weight: 700;
}



.quantity {
    width: 100%;
    max-width: 200px;
    margin: 0;
    gap: 20px;
}

.quantityDesc {
    display: flex;
    margin: 0;
    justify-content: space-between;
    border-top: 1px solid var(--text-dark);
    border-bottom: 1px solid var(--text-dark);
}

.qtyBtn {
    margin: 0;
    padding: 8px 8px;
    border-left: 1px solid var(--text-dark);
    border-right: 1px solid var(--text-dark);
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.qtyBtn:hover {
    box-shadow: 0px 0px 4px #40ffcc;
}

.qtyQty {
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 100;
    font-family: 'Sprat';
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 8px;
    margin-top: 8px;
}

.buttons button {
    border: none;
    background-color: transparent;
    border: 1px solid var(--text-dark);
    color: inherit;
    background-color: inherit;
    font-size: 12pt;
    padding: 8px 0;
    cursor: pointer;
    font-weight: 100;
    font-family: 'Sprat';
}

.buttons button:hover {
    box-shadow: 0px 0px 4px #40ffcc;
}

@media (prefers-color-scheme: light) {
    .quantityDesc {
        border-top: 1px solid var(--text);
        border-bottom: 1px solid var(--text);
    }

    .qtyBtn {
        border-left: 1px solid var(--text);
        border-right: 1px solid var(--text);
    }

    .buttons button {
        border: 1px solid var(--text);
    }

}

@media (prefers-color-scheme: dark) {
    .quantityDesc {
        border-top: 1px solid var(--text-dark);
        border-bottom: 1px solid var(--text-dark);
    }

    .qtyBtn {
        border-left: 1px solid var(--text-dark);
        border-right: 1px solid var(--text-dark);
    }

    .buttons button {
        border: 1px solid var(--text-dark);
    }
}