@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

@font-face {
  font-family: 'Sprat';
  font-weight: 100;
  font-stretch: expanded;
  src: url("../src/fonts/Sprat-Variable.woff2") format("woff2");
}

:root {
  --text: #000;
  --bg: #eee;
  --text-dark: #fff;
  --bg-dark: #101010;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--text);
    background: var(--bg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--text-dark);
    background: var(--bg-dark);
  }
}